body {
	background: #17273d;
	font-family: "Roboto", sans-serif;
	color: #f5f6fa;
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: #f5f6fa !important;
    opacity: .5 !important;
}

::-webkit-input-placeholder {
    color: #f5f6fa !important;
    opacity: .5 !important;
}

:-ms-input-placeholder {
    color: #f5f6fa !important;
    opacity: .5 !important;
}

.shadow {
	background: rgba(0, 0, 0, 0.4) !important;
	border-radius: 15px !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-right: 4px solid #ddd;
	border-radius: 0;
	color: #f5f6fa;
}

.new-chat-form {
    border-radius: 10px !important;
    background-color: rgba(0, 0, 0, 0.2);
    border: unset;
    color: #f5f6fa !important;
}

.new-chat-form:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none !important;
    outline: 0 !important;
}

/*.nav-pills a.nav-link:hover {*/
/*	background-color: #f0f0f1;*/
/*}*/

.nav-pills a.nav-link i {
	width: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	border-radius: 0 3px 5px 0;
    border-right: 4px solid #4477CE;
    border-bottom: 1px solid #4477CE;
    color: #f5f6fa;
    background-color: unset;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid #4477CE;
}

.order-tab, .comment-tab {
	max-height: 346px;
	overflow-y: auto;

}

.order-area, .comment-area {
	max-width: 95%;
}

.order-area div {
	font-size: 13px !important;
}

.error {
    color: #EE6983;
    margin-top: 10px;
	font-size: 14px !important;
}

.accordion-body {
    max-height: unset !important;
    overflow: unset !important;
}

