@import url(../../base/css/fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Vazir, sans-serif;
}

:root {
    --primary-color: #4ec0e9;
}

body {
    min-height: 100vh;
    background: #eceffc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 50px;
    color: white;
    font-family: "Microsoft YaHei", serif;
    font-size: 16px;
    background-color: #3F3B6C;
    border-radius: 8px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
}

.login-form h2 {
    margin: 0 0 60px 0;
    text-align: center;
    font-size: 1.2rem;
}

.login-form .form-input-material {
    margin: 25px 0 16px  0;
}

.login-form .btn {
    width: 100%;
    margin: 30px 0 9px 0;
    padding: 10px;
    position: relative;
    border-radius: 0;
}

.login-form input {
    color: white;
}

.login-form button, .login-form input {
    font: inherit;
    outline: none;
}

.form-input-material {
    --input-border-bottom-color: white;
    position: relative;
    border-bottom: 1px solid var(--input-border-bottom-color);
}

.form-input-material::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #9F73AB;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s;
}

.form-input-material:focus-within::before {
    transform: scaleX(1);
}

.form-input-material .form-control-material {
    padding: 0.5rem 0;
    background: none;
    border: none;
}

.form-input-material .form-control-material:focus ~ label, .form-input-material .form-control-material:not(:placeholder-shown) ~ label {
    transform: translateY(-100%) scale(0.9);
    color: #CCA2E1;
}

.form-input-material label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    transition: 0.3s;
    transform-origin: left;
}

.btn-ghost {
    --btn-color: #CCA2E1;
    --btn-border-color: #CCA2E1;
    background: none;
    transition: 0.3s;
    overflow: hidden;
    color: var(--btn-color);
    border: 1px solid var(--btn-border-color);
}

.btn-ghost::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, var(--btn-color), transparent);
    transform: translateX(-100%);
    transition: 0.6s;
}

.btn-ghost:hover {
    box-shadow: 0 0 20px 5px #624F82;
}

.btn-ghost:hover::before {
    transform: translateX(100%);
}

.btn-ghost h6 {
    font-size: 14px;
    margin: 0 !important;
}

.no-arrow {
    -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
    display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.password-reset {
    color: #e8e8e8;
    font-size: .9rem;
    transition: all .3s ease-in-out;
}
.password-reset:hover {
    color: #CCA2E1;
    text-decoration: none;
}

.otp-code-link {
    color: #e8e8e8;
    font-size: .9rem;
    transition: all .3s ease-in-out;
}

.otp-code-link:hover {
    text-decoration: none;
    color: #A3C7D6;
}

.login-register {
    margin-top: 2rem;
}

.login-register-link {
    color: #A3C7D6;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.login-register-link:hover {
    color: #D6E4E5;
}

.non-field {
    margin-bottom: 1rem;
    background-color: #f8d7da;
    padding: 1rem;
    border: 1px solid #f5c2c7;
    border-radius: 5px;
}

.error {
    color: #EE6983;
    margin-bottom: 1rem;
    width: 250px;
    font-size: 13px;
}

.message-box {
    top: 32px;
    right: 25%;
    z-index: 1200;
}
.message-box p {
    background-color: #000;
}

#resend-code p {
    font-size: 13px;
}

#code-box p {
    font-size: 12px;
    color: #ff9d9d;
}
