/* Scroll */
::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: #f5f6fa !important;
    opacity: .5 !important;
}

::-webkit-input-placeholder {
    color: #f5f6fa !important;
    opacity: .5 !important;
}

:-ms-input-placeholder {
    color: #f5f6fa !important;
    opacity: .5 !important;
}


body, html {
    height: 100%;
    margin: 0;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

a, a:hover {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: scroll;
    max-height: 319px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #f5f6fa !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.new-chat-form {
    border-radius: 10px !important;
    background-color: rgba(0, 0, 0, 0.2);
    border: unset;
    color: #f5f6fa !important;
}

.new-chat-form:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none !important;
    outline: 0 !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #f5f6fa !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #f5f6fa !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #39A7FF !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #f5f6fa !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 10px;
    height: 78px;
}

.contacts li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.active, .active:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.user_img {
    height: 50px;
    width: 50px;

}

.user_img_msg {
    height: 30px;
    width: 30px;

}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont_msg {
    height: 30px;
    width: 30px;
}

.online_icon {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #4477CE;
    border-radius: 50%;
    bottom: 0.1em;
    right: 0.2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    overflow: hidden;
}

.user_info span {
    font-size: 18px;
    color: #f5f6fa;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.call {
    margin-left: 50px;
    margin-top: 5px;
}

.call a, .call span {
    color: #f5f6fa;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 0 10px 10px 10px;
    background-color: #2D4356;
    color: #f5f6fa;
    padding: 10px;
    position: relative;
    min-width: 85px;
    max-width: 500px;
}

.msg_cotainer:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: auto;
    left: -10px;
    top: 0;
    bottom: auto;
    border: 10px solid;
    border-color: #2D4356 transparent transparent transparent;
    border-radius: 3px 0;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 10px 0 10px 10px;
    background-color: #4477CE;
    color: #f5f6fa;
    padding: 10px;
    position: relative;
    min-width: 85px;
    max-width: 500px;
}

.msg_cotainer_send:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -10px;
    top: 0;
    bottom: auto;
    border: 10px solid;
    border-color: #4477CE transparent transparent transparent;
    border-radius: 0 3px;
}

.msg_time, .msg_time_send {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #f5f6fa;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f5f6fa;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul, .offcanvas-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li, .offcanvas-body ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i, .offcanvas-body ul li i {
    padding-right: 10px;

}

.action_menu ul li:hover, .offcanvas-body ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.add-chat-modal {
    border-radius: 15px !important;
    color: #f5f6fa !important;
}

#MenuoffcanvasExample {
    border-radius: 15px !important;
    color: #f5f6fa !important;
    left: unset;
    transition: all .2s ease-in-out;
}

.offcanvas.offcanvas-start {
    transform: translateX(-50%) rotateY(90deg);
}

.offcanvas-backdrop.show {
    opacity: .4;
}

.menu-icon {
    color: #f5f6fa;
    font-size: 1.3rem;
}

.offcanvas-header {
    border-bottom: 1px solid rgba(245, 246, 250, 0.4);
}

.modal-footer {
    border: unset;
}

.start-msg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 15px;
    color: #f5f6fa;
}

.join-group-card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: #f5f6fa;
    height: unset;
}

.not_seen_count_badge {
    min-width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 1px 5px;
    background-color: #4477CE;
    color: #f5f6fa;
    font-size: .8em;
    position: absolute;
    top: 0;
    right: 0;
}

#messages-list {
    position: relative;
}

#msg-scroll-down {
    background-color: rgba(0, 0, 0, .4);
    color: #f5f6fa;
    padding: 7px 13px;
    border-radius: 50%;
    position: sticky;
    bottom: 0;
    width: 36px;
    height: 36px;
    left: 100%;
    cursor: pointer;
}

#msg-not-seen-count-scroll-down {
    position: absolute;
    right: -0.7em;
    top: -0.7em;
    min-width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 0 5px 1px 5px;
    background-color: #4477CE;
    color: #f5f6fa;
}

#videocall_section {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}


#videocall_section .card-video {
    flex-basis: 500px;
    flex-grow: 1;
    border-radius: 15px;
    margin: 2px;
    position: relative;
    padding: unset;
}

.call-receiver, .call-emitter {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.phone-hangup {
    transform: rotate(225deg);
}

#videocall_status {
    min-width: 250px;
    min-height: 250px;
    width: 500px;
    height: 500px;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1055;
    transform: translate(-50%, -50%);
    color: #f5f6fa;
    padding: 1.2rem;
    background-repeat: no-repeat;
    background-size: contain, cover;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.video_calling {
    background: unset !important;
    top: 85% !important;
    height: unset !important;
    min-height: unset !important;
    flex-flow: row !important;
}

#videocall_status span {
    backdrop-filter: blur(10px);
    color: #f5f6fa;
}

@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
