{% load static %}

{% load base_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    <title>Document</title>
</head>
<body>

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-3 col-xl-3 chat">
            <div class="offcanvas offcanvas-start position-absolute bg-dark w-50" tabindex="-1"
                 id="MenuoffcanvasExample"
                 aria-labelledby="MenuoffcanvasExampleLabel">
                <div class="offcanvas-header">
                    <a href="{% url 'accounts:profile' %}" class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>{{ user.username }}</span>
                        </div>
                    </a>
                </div>
                <div class="offcanvas-body px-0">
                    <ul>
                        <li>
                            <a class="d-flex align-items-baseline" type="button" data-toggle="modal"
                               data-target="#NewRoomModalCenter">
                                <i class="fas fa-user"></i>
                                New Room
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-baseline" type="button" data-toggle="modal"
                               data-target="#NewGroupModalCenter">
                                <i class="fas fa-users"></i>
                                New Group
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <a class="me-3 my-auto" data-bs-toggle="offcanvas" href="#MenuoffcanvasExample" role="button"
                           aria-controls="MenuoffcanvasExample">
                            <i class="fas fa-bars menu-icon"></i>
                        </a>
                        <input id="username-input" type="text" class="form-control search" placeholder="Search..."
                               aria-label="Receiver ID" aria-describedby="addon-wrapping">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ul class="contacts" id="contacts">
                        {% for member in members %}
                            <li class="{% if member.slug in request.path %}active{% endif %}" id="{{ member.slug }}_contact">
                                <a href="{% if member.category == 'g' %}{% url 'chat:group' member.slug %}{% else %}{% url 'chat:room' member.slug %}{% endif %}"
                                   class="d-flex bd-highlight position-relative">
                                    <div class="img_cont">
                                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                             class="rounded-circle user_img">
                                        {% if member.category == 'r' %}
                                            {% online_status member.slug as online %}
                                            {% if online %}
                                                <span id="{{ member.slug }}_status" class="online_icon"></span>
                                            {% else %}
                                                <span id="{{ member.slug }}_status" class=""></span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="user_info">
                                        <span>
                                            {% if member.slug == user.username and member.user == user %}Saved
                                                Messages{% else %}
                                                {{ member.title }}{% endif %}
                                        </span>
                                        <p id="{{ member.slug }}">{% notif_filter member.slug member.user %}</p>
                                    </div>
                                    <span id="{{ member.slug }}_not_seen_count_badge" class="not_seen_count_badge {% if member.not_seen_count == 0 %}d-none{% endif %}">{{ member.not_seen_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- New Room Modal -->
        <div class="modal fade" id="NewRoomModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="NewRoomModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content add-chat-modal bg-dark">
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Group Modal -->
        <div class="modal fade" id="NewGroupModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="NewGroupModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content add-chat-modal bg-dark">
                    <div class="modal-body">
                        <form action="{% url 'chat:create_group' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_group_name">Group Name</label>
                                <input type="text" class="form-control new-chat-form" name="group_name"
                                       id="id_group_name">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head d-flex justify-content-between">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>{{ chatObject.title }}</span>
                            <p>members</p>
                        </div>
                        <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    <div class="dropstart">
                        <a type="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        </a>
                        <div class="action_menu dropdown-menu me-3">
                            <ul>
                                <li class="text-danger">
                                    <a class="d-flex align-items-baseline" type="button" data-toggle="modal"
                                       data-target="#LeaveGroupModalCenter">
                                        <i class="fas fa-sign-out-alt"></i> Leave group
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="LeaveGroupModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="LeaveGroupModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content add-chat-modal bg-dark">
                            <div class="modal-body">
                                <p>Are you sure you want to leave this group?</p>
                                {% if chatObject.creator_id == user.id %}
                                    <p class="text-danger mt-2">If you leave this group it will be deleted.</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'chat:leave_group' chatObject.unique_code %}" class="btn btn-danger">Leave</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="messages-list">
                    {% for message in messages %}
                        <div class="media">
                            <div class="media-body">
                                {% if message.author_id == user.id %}
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send pb-3">
                                            <p class="mb-1">{{ message.text }}</p>
                                            <span class="msg_time_send">8:55 AM, Today</span>
                                            <div class="msg-check-icon">
                                                {% if message.is_seen %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M11.602 13.7599L13.014 15.1719L21.4795 6.7063L22.8938 8.12051L13.014 18.0003L6.65 11.6363L8.06421 10.2221L10.189 12.3469L11.6025 13.7594L11.602 13.7599ZM11.6037 10.9322L16.5563 5.97949L17.9666 7.38977L13.014 12.3424L11.6037 10.9322ZM8.77698 16.5873L7.36396 18.0003L1 11.6363L2.41421 10.2221L3.82723 11.6352L3.82604 11.6363L8.77698 16.5873Z" fill="rgba(255,255,255,1)"></path></svg>
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z" fill="rgba(255,255,255,1)"></path></svg>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                                 class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer pb-3">
                                            <h6>{{ message.author }}</h6>
                                            <p class="mb-1">{{ message.text }}</p>
                                            <span class="msg_time">8:40 AM, Today</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div id="msg-scroll-down" class="d-none">
                        <i class="fas fa-angle-down"></i>
                        <span id="msg-not-seen-count-scroll-down"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <input id="msg-input" type="text" class="form-control type_msg"
                               placeholder="Type your message..." aria-label="Message Text"
                               aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button id="msg-submit" type="button" class="input-group-text send_btn" onclick="btnSend()">
                                <i class="fas fa-location-arrow"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var chat_id = {{ chat_id_json }};
    var msgdiv = $('#messages-list');
    var memberdiv = $('#members-list');
    var lasttesxt = $('#last-text')

    window.onload = function (e) {
        msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
    }

    var socket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/group/' + chat_id + '/');

    socket.onmessage = function (e) {
        var message = JSON.parse(e.data);
        switch (message['type']) {
            case "join":
                memberdiv.append(`
                    <li id="item-USERNAME" href="#" class="list-group-item">USERNAME</li>
                `.replace('USERNAME', message['username']).replace('USERNAME', message['username']));

                msgdiv.append(`
                    <div class="mx-auto" style="width: max-content;">
                        USERNAME joined the group
                    </div>
                `.replace('USERNAME', message['username']));
                break;
            case "leave":
                $('#item-' + message['username']).remove();

                msgdiv.append(`
                    <div class="mx-auto" style="width: max-content;">
                        USERNAME left the group
                    </div>
                `.replace('USERNAME', message['username']));
                break;
            case "delete":
                alert('Group was deleted by its creator.');
                window.location.href = window.location.origin + '/chat/';
                break;
            case "msg":
                lasttesxt.text(message['text']);
                msgdiv.append(`
                  <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
						<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
					</div>
                    <div class="msg_cotainer pb-3">
                        <h6>USERNAME</h6>
                            <p class="mb-1">MESSAGE</p>
                        <span class="msg_time">8:40 AM, Today</span>
                    </div>
                  </div>
                `.replace('USERNAME', message['sender']).replace('MESSAGE', message['text']));
                break;
            default:
                break;
        }
        if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
        }
    };

    socket.onclose = function (e) {
        console.error('Socket closed unexpectedly');
    };

    document.querySelector('#msg-input').focus();
    document.querySelector('#msg-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#msg-submit').click();
        }
    };

    document.querySelector('#msg-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#msg-input');
        var message = messageInputDom.value;

        lasttesxt.text(message);
        msgdiv.append(`
            <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer_send pb-3">
                    <p class="mb-1">MESSAGE</p>
                    <span class="msg_time_send">8:55 AM, Today</span>
                </div>
            </div>
        `.replace('MESSAGE', message));

        msgdiv.scrollTop(msgdiv.prop("scrollHeight"));

        socket.send(JSON.stringify({'text': message}));

        messageInputDom.value = '';
    };
</script>
<script type='text/javascript'>

    const loggedin_user = {{ username_json }}

    const notify_socket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    +'notify/'
)

notify_socket.onopen = function(e){
    if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
            msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            notify_socket.send(JSON.stringify({
                'username': loggedin_user,
                'path': window.location.pathname
            }))
        }
}


notify_socket.onmessage = function(e){
        const data = JSON.parse(e.data)
        const contacts = $('#contacts')
        if (data.category === 'g') {
            if (window.location.pathname.includes(data.slug)) {
                var active = 'active'
            } else {
                var active = ''
            }
            $(`#${data.slug}_contact`).remove()
            contacts.prepend(`
                <li class="${active}" id="${data.slug}_contact">
                    <a href="group/${data.slug}"
                       class="d-flex bd-highlight position-relative">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>
                                ${data.title}
                            </span>
                            <p id="${data.user}_last_text">${data.last_text}</p>
                        </div>
                        <span id="${data.user}_not_seen_count_badge" class="not_seen_count_badge">${data.not_seen_count}</span>
                    </a>
                </li>
            `)
        } else {
            if (window.location.pathname.includes(data.user)) {
                var active = 'active'
            } else {
                var active = ''
            }
            {#$(`#${data.user}_contact`).remove()#}
            $(`#${data.slug}_contact`).remove()
             if (data.user === data.slug) {
                $(`#${data.user}_contact_SavedMessages`).remove()
                contacts.prepend(`
                   <li class="${active}" id="${data.slug}_contact_SavedMessages">
                       <a href="room/${data.slug}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.slug}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  Saved Messages
                               </span>
                               <p id="${data.user}_last_text">${data.last_text}</p>
                           </div>
                       </a>
                   </li>
              `)
            } else if (data.slug === loggedin_user) {
                 console.log(1)
               contacts.prepend(`
                   <li class="${active}" id="${data.user}_contact">
                       <a href="room/${data.user}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.user}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  ${data.user}
                               </span>
                               <p id="${data.user}_last_text">${data.last_text}</p>
                           </div>
                           <span id="${data.user}_not_seen_count_badge" class="not_seen_count_badge d-none">${data.not_seen_count}</span>
                       </a>
                   </li>
              `)
            } else if (data.user === loggedin_user) {
                 console.log(2)
                 if (window.location.pathname.includes(data.slug)) {
                var active = 'active'
            } else {
                var active = ''
            }
               contacts.prepend(`
                   <li class="${active}" id="${data.slug}_contact">
                       <a href="room/${data.slug}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.slug}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  ${data.slug}
                               </span>
                               <p id="${data.user}_last_text">${data.last_text}</p>
                           </div>
                            <span id="${data.user}_not_seen_count_badge" class="not_seen_count_badge">${data.not_seen_count}</span>
                       </a>
                   </li>
              `)
            }
        }
        if (data.user !== data.slug && window.location.pathname.includes(data.slug)) {
            const msgScroll = $(`#msg-scroll-down`)
            const msgNotif = $(`#${data.user}_not_seen_count_badge`)
            if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                msgScroll.addClass('d-none')
                msgNotif.addClass('d-none')
                notify_socket.send(JSON.stringify({
                    'username': loggedin_user,
                    'path': window.location.pathname
                }))
            } else {
                msgScroll.removeClass('d-none')
                msgScroll.addClass('d-block')
                $(`#msg-not-seen-count-scroll-down`).text(`${data.not_seen_count}`)
                msgScroll.on('click', function (e){
                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"))
                    msgScroll.addClass('d-none')
                    msgNotif.addClass('d-none')
                        notify_socket.send(JSON.stringify({
                            'username': loggedin_user,
                            'path': window.location.pathname
                        }))

                })
                msgdiv.on('scroll', function (e){
                    if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                        msgScroll.addClass('d-none')
                        msgNotif.addClass('d-none')
                        notify_socket.send(JSON.stringify({
                            'username': loggedin_user,
                            'path': window.location.pathname
                        }))
                    }
                })
            }
        }
}

notify_socket.onclose = function(e){
    console.log("DISCONNECTED FROM NOTIFICATION");
}


    const online_status = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws'
        + '/online/'
    )

    online_status.onopen = function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'open'
        }))
    }

    window.addEventListener("beforeunload", function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'close'
        }))
    })

    online_status.onclose = function (e) {
        console.log('Disconnected from online consumer')
    }

    online_status.onmessage = function (e) {
        var data = JSON.parse(e.data)
        if (data.username !== loggedin_user) {
            const user_to_change = $(`#${data.username}_status`)
            const user_to_change_small = $(`#${data.username}_small`)
            if (data.online_status === true) {
                user_to_change.addClass('online_icon');
                user_to_change_small.text('online');
            } else {
                user_to_change.removeClass('online_icon');
                user_to_change_small.text('offline');
            }
        }
    }
</script>
</body>
</html>
