{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 col-xl-6 chat">
        <div class="card">
            <div class="card-body msg_card_body">
                <p class="start-msg">Select a chat to start messaging</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type='text/javascript'>

    const loggedin_user = {{ username_json }}

    const notify_socket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    +'notify/'
)

notify_socket.onopen = function(e){
    if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
            msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            notify_socket.send(JSON.stringify({
                'username': loggedin_user,
                'path': window.location.pathname
            }))
        }
}


notify_socket.onmessage = function(e){
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'open'
        }))
        const data = JSON.parse(e.data)
        const contacts = $('#contacts')
        if (data.category === 'g') {
            if (window.location.pathname.includes(data.slug)) {
                var active = 'active'
            } else {
                var active = ''
            }
            $(`#${data.slug}_contact`).remove()
            contacts.prepend(`
                <li class="${active}" id="${data.slug}_contact">
                    <a href="${siteDomain}group/${data.slug}"
                       class="d-flex bd-highlight position-relative">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>
                                ${data.title}
                            </span>
                            <p id="${data.user}_last_text">${data.last_text}</p>
                        </div>
                        <span id="${data.user}_not_seen_count_badge" class="not_seen_count_badge">${data.not_seen_count}</span>
                    </a>
                </li>
            `)
        } else {
            if (window.location.pathname.includes(data.user)) {
                var active = 'active'
            } else {
                var active = ''
            }
            {#$(`#${data.user}_contact`).remove()#}
            $(`#${data.slug}_contact`).remove()
             if (data.user === data.slug) {
                $(`#${data.user}_contact_SavedMessages`).remove()
                contacts.prepend(`
                   <li class="${active}" id="${data.slug}_contact_SavedMessages">
                       <a href="${siteDomain}room/${data.slug}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.slug}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  Saved Messages
                               </span>
                               <p id="${data.user}_last_text">${data.last_text}</p>
                           </div>
                       </a>
                   </li>
              `)
            } else if (data.slug === loggedin_user) {
                 console.log(1)
               contacts.prepend(`
                   <li class="${active}" id="${data.user}_contact">
                       <a href="${siteDomain}room/${data.user}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.user}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  ${data.user}
                               </span>
                               <p id="${data.user}_last_text">${data.last_text}</p>
                           </div>
                           <span id="${data.user}_not_seen_count_badge" class="not_seen_count_badge d-none">${data.not_seen_count}</span>
                       </a>
                   </li>
              `)
            } else if (data.user === loggedin_user) {
                 console.log(2)
                 if (window.location.pathname.includes(data.slug)) {
                var active = 'active'
            } else {
                var active = ''
            }
               contacts.prepend(`
                   <li class="${active}" id="${data.slug}_contact">
                       <a href="room/${data.slug}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.slug}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  ${data.slug}
                               </span>
                               <p id="${data.user}_last_text">${data.last_text}</p>
                           </div>
                            <span id="${data.user}_not_seen_count_badge" class="not_seen_count_badge">${data.not_seen_count}</span>
                       </a>
                   </li>
              `)
            }
        }
        if (data.user !== data.slug && window.location.pathname.includes(data.slug)) {
            const msgScroll = $(`#msg-scroll-down`)
            const msgNotif = $(`#${data.user}_not_seen_count_badge`)
            if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                msgScroll.addClass('d-none')
                msgNotif.addClass('d-none')
                notify_socket.send(JSON.stringify({
                    'username': loggedin_user,
                    'path': window.location.pathname
                }))
            } else {
                msgScroll.removeClass('d-none')
                msgScroll.addClass('d-block')
                $(`#msg-not-seen-count-scroll-down`).text(`${data.not_seen_count}`)
                msgScroll.on('click', function (e){
                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"))
                    msgScroll.addClass('d-none')
                    msgNotif.addClass('d-none')
                        notify_socket.send(JSON.stringify({
                            'username': loggedin_user,
                            'path': window.location.pathname
                        }))

                })
                msgdiv.on('scroll', function (e){
                    if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                        msgScroll.addClass('d-none')
                        msgNotif.addClass('d-none')
                        notify_socket.send(JSON.stringify({
                            'username': loggedin_user,
                            'path': window.location.pathname
                        }))
                    }
                })
            }
        }
}

notify_socket.onclose = function(e){
    console.log("DISCONNECTED FROM NOTIFICATION");
}


    const online_status = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws'
        + '/online/'
    )

    online_status.onopen = function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'open'
        }))
    }

    window.addEventListener("beforeunload", function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'close'
        }))
    })

    online_status.onclose = function (e) {
        console.log('Disconnected from online consumer')
    }

    online_status.onmessage = function (e) {
        var data = JSON.parse(e.data)
        if (data.username !== loggedin_user) {
            const user_to_change = $(`#${data.username}_status`)
            const user_to_change_small = $(`#${data.username}_small`)
            if (data.online_status === true) {
                user_to_change.addClass('online_icon');
                user_to_change_small.text('online');
            } else {
                user_to_change.removeClass('online_icon');
                user_to_change_small.text('offline');
            }
        }
    }
</script>
{% endblock %}
