{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head d-flex justify-content-between">
                    <div class="d-flex bd-highlight">
                        {% if contact.username == user.username %}
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                     class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                            <span>
                                Saved Messages
                            </span>
                            </div>
                        {% else %}
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                     class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                                <span>
                                    {{ contact.username }}
                                </span>
                                {% if contact.onlinestatus.online_status %}
                                    <p id="{{ contact.username }}_small">online</p>
                                {% else %}
                                    <p id="{{ contact.username }}_small">offline</p>
                                {% endif %}
                            </div>
                            <div class="call">
                                <span><i class="fas fa-phone"></i></span>
                                <span id="btnVideoCall" aria-valuetext="{{ contact.username }}"><i class="fas fa-video"></i></span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="dropstart">
                        <a type="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        </a>
                        <div class="action_menu dropdown-menu me-3">
                            <ul>
                                <li class="text-danger">
                                    <i class="fas fa-sign-out-alt"></i> Block user
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="messages-list">
                    {% for message in messages %}
                        <div class="media">
                            <div class="media-body">
                                {% if message.author == user %}
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            <p class="mb-1">{{ message.text }}</p>
                                            <div class="d-flex justify-content-between align-items-baseline">
                                                <span class="msg_time_send">{{ message.created }}</span>
                                                <div class="msg-check-icon" id="{{ message.id }}_not_seen">
                                                    {% if message.is_seen %}
                                                    <div class="seen-msg">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M11.602 13.7599L13.014 15.1719L21.4795 6.7063L22.8938 8.12051L13.014 18.0003L6.65 11.6363L8.06421 10.2221L10.189 12.3469L11.6025 13.7594L11.602 13.7599ZM11.6037 10.9322L16.5563 5.97949L17.9666 7.38977L13.014 12.3424L11.6037 10.9322ZM8.77698 16.5873L7.36396 18.0003L1 11.6363L2.41421 10.2221L3.82723 11.6352L3.82604 11.6363L8.77698 16.5873Z" fill="rgba(255,255,255,1)"></path></svg>
                                                    </div>
                                                    {% else %}
                                                        <div class="not-seen-msg">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z" fill="rgba(255,255,255,1)"></path></svg>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="msg_cotainer" aria-valuetext="{% if message.is_seen %}seen{% else %}not_seen{% endif %}" id="{{ message.id }}">
                                            <p class="mb-1">{{ message.text }}</p>
                                            <span class="msg_time">{{ message.created }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div id="msg-scroll-down" class="d-none">
                        <i class="fas fa-angle-down"></i>
                        <span id="msg-not-seen-count-scroll-down"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <input id="msg-input" type="text" class="form-control type_msg"
                               placeholder="Type your message..." aria-label="Message Text"
                               aria-describedby="addon-wrapping">
                        <div class="input-group-append">
                            <button id="msg-submit" type="button" class="input-group-text send_btn" onclick="btnSend()">
                                <i class="fas fa-location-arrow"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script>
        var receiver = {{ contact_json }};
        var sender = {{ user_json }};
        var pagPosition = {{ page_position }}
        var msgdiv = $('#messages-list');
        var memberdiv = $('#members-list');
        var lasttesxt = $('#last-text')
        var media = $('.media')
        var msgScroll = $(`#msg-scroll-down`)

        if (pagPosition === '') {
            pagPosition = msgdiv.prop("scrollHeight")
        }

        msgdiv.scroll(function () {
            if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() > msgdiv.height() * 2) {
                msgScroll.removeClass('d-none');
                $('#msg-not-seen-count-scroll-down').addClass('d-none');
                msgScroll.on('click', function (e){
                    msgdiv.animate({scrollTop: msgdiv.prop("scrollHeight")}, (msgdiv.prop("scrollHeight") - pagPosition)/10)
                    msgScroll.addClass('d-none')

                })
            } else {
                msgScroll.addClass('d-none');
            }
        });


        {#window.onload = function (e) {#}
        {#    if (pagPosition === msgdiv.prop("scrollHeight")){#}
        {#        msgdiv.scrollTop(msgdiv.prop("scrollHeight") - 10);#}
        {#        msgdiv.scrollTop(msgdiv.prop("scrollHeight"));#}
        {#    }#}
        {# } #}

        var socket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/room/' + sender + '/');

        if (sender !== receiver) {
            socket.onmessage = function (e) {
                var message = JSON.parse(e.data);
                lasttesxt.text(message['text']);
                if (loggedin_user === message['receiver']) {
                    msgdiv.append(`
                      <div class="d-flex justify-content-start mb-4">
                        <div class="msg_cotainer" aria-valuetext="not_seen" id="${message['id']}">
                            <p class="mb-1">MESSAGE</p>
                            <span class="msg_time">TIME</span>
                        </div>
                      </div>
                    `.replace('MESSAGE', message['text']).replace('TIME', message['time']));
                    if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                        msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                    }
                } else if (loggedin_user === sender) {
                    msgdiv.append(`
                        <div class="d-flex justify-content-end mb-4">
                            <div class="msg_cotainer_send">
                                <p class="mb-1">MESSAGE</p>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <span class="msg_time_send">TIME</span>
                                    <div class="msg-check-icon">
                                        <div class="not-seen-msg" id="${message['id']}_not_seen">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z" fill="rgba(255,255,255,1)"></path></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `.replace('MESSAGE', message['text']).replace('TIME', message['time']));
                    msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                }
            };
        }

        socket.onclose = function (e) {
            console.error('Socket closed unexpectedly');
        };

        document.querySelector('#msg-input').focus();
        document.querySelector('#msg-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#msg-submit').click();
            }
        };

        document.querySelector('#msg-submit').onclick = function (e) {
            var messageInputDom = document.querySelector('#msg-input');
            var message = messageInputDom.value;
            socket.send(JSON.stringify({'sender': sender, 'receiver': receiver, 'text': message}));

            messageInputDom.value = '';
        };
    </script>
    <script type='text/javascript'>

    const loggedin_user = {{ username_json }}
    const siteDomain = 'http://127.0.0.1:8000/'

    const notify_socket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/'
    +'notify/'
)


notify_socket.onmessage = function(e){
    online_status.send(JSON.stringify({
        'username': loggedin_user,
        'type': 'open'
    }))
    console.log(111111111111111)
    const data = JSON.parse(e.data)
    console.log(data.user === loggedin_user)
    const contacts = $('#contacts')
        if (data.category === 'g' && data.user === loggedin_user) {
            if (window.location.pathname.includes(data.slug)) {
                var active = 'active'
            } else {
                var active = ''
            }
            $(`#${data.slug}_contact`).remove()
            contacts.prepend(`
                <li class="${active}" id="${data.slug}_contact">
                    <a href="${siteDomain}group/${data.slug}"
                       class="d-flex bd-highlight position-relative">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
                        </div>
                        <div class="user_info">
                            <span>
                                ${data.title}
                            </span>
                            <p id="${data.user}_${data.slug}_last_text">${data.last_text}</p>
                        </div>
                        <span id="${data.user}_${data.slug}_not_seen_count_badge" class="not_seen_count_badge">${data.not_seen_count}</span>
                    </a>
                </li>
            `)
        } else {
            if (window.location.pathname.includes(data.user)) {
                var active = 'active'
            } else {
                var active = ''
            }
            $(`#${data.user}_contact`).remove()
            $(`#${data.slug}_contact`).remove()
             if (data.user === data.slug) {
                $(`#${data.user}_contact_SavedMessages`).remove()
                contacts.prepend(`
                   <li class="${active}" id="${data.slug}_contact_SavedMessages">
                       <a href="${siteDomain}room/${data.slug}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.slug}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  Saved Messages
                               </span>
                               <p id="${data.user}_${data.slug}_last_text">${data.last_text}</p>
                           </div>
                       </a>
                   </li>
              `)
            } else if (data.slug === loggedin_user) {
               contacts.prepend(`
                   <li class="${active}" id="${data.user}_contact">
                       <a href="${siteDomain}room/${data.user}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.user}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  ${data.user}
                               </span>
                               <p id="${data.user}_${data.slug}_last_text">${data.last_text}</p>
                           </div>
                       </a>
                   </li>
              `)
            } else if (data.user === loggedin_user) {
                 if (window.location.pathname.includes(data.slug)) {
                    var active = 'active'
                } else {
                    var active = ''
                }
               contacts.prepend(`
                   <li class="${active}" id="${data.slug}_contact">
                       <a href="${siteDomain}room/${data.slug}"
                          class="d-flex bd-highlight position-relative">
                           <div class="img_cont">
                               <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img">
                                       <span id="${data.slug}_status"></span>
                           </div>
                           <div class="user_info">
                               <span>
                                  ${data.slug}
                               </span>
                               <p id="${data.user}_${data.slug}_last_text">${data.last_text}</p>
                           </div>
                            <span id="${data.user}_${data.slug}_not_seen_count_badge" class="not_seen_count_badge">${data.not_seen_count}</span>
                       </a>
                   </li>
              `)
            }
        }

        if (data.user === loggedin_user && window.location.pathname.includes(data.slug)) {
            const msgNotif = $(`#${data.user}_${data.slug}_not_seen_count_badge`)
            const msgNotifScroll = $(`#msg-not-seen-count-scroll-down`)
            if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
                msgScroll.addClass('d-none')
                msgNotif.addClass('d-none')

            } else {
                msgScroll.removeClass('d-none')
                msgScroll.addClass('d-block')
                msgNotifScroll.removeClass('d-none')
                msgNotifScroll.text(`${data.not_seen_count}`)
                msgScroll.on('click', function (e){
                    msgdiv.animate({scrollTop: msgdiv.prop("scrollHeight")}, (msgdiv.prop("scrollHeight") - pagPosition)/10)
                    msgScroll.addClass('d-none')
                    msgNotif.addClass('d-none')

                })
                msgdiv.on('scroll', function (e){
                    if (msgdiv.prop("scrollHeight") - msgdiv.scrollTop() < msgdiv.height() * 2) {
                        msgScroll.addClass('d-none')
                        msgNotif.addClass('d-none')
                    }
                })
            }
        }
    }

notify_socket.onclose = function(e){
    console.log("DISCONNECTED FROM NOTIFICATION");
}


    const online_status = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws'
        + '/online/'
    )

    online_status.onopen = function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'open'
        }))
    }

    window.addEventListener("beforeunload", function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'close'
        }))
    })

    online_status.onclose = function (e) {
        console.log('Disconnected from online consumer')
    }

    online_status.onmessage = function (e) {
        var data = JSON.parse(e.data)
        if (data.username !== loggedin_user) {
            const user_to_change = $(`#${data.username}_status`)
            const user_to_change_small = $(`#${data.username}_small`)
            if (data.online_status === true) {
                user_to_change.addClass('online_icon');
                user_to_change_small.text('online');
            } else {
                user_to_change.removeClass('online_icon');
                user_to_change_small.text('offline');
            }
        }
    }

    const seen_message_socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'seen_message/'
        + sender + '/'
    )

    function  checkInView(elem, partial)
        {
            var container = $("#messages-list");
            var elemTop = $(elem).offset().top - container.offset().top;
            var elemBottom = elemTop + $(elem).height();

            if (((elemTop < 0 && elemBottom > 0 ) || (elemTop > 0 && elemTop <= container.height())) && partial) {
                if (elem.attr('aria-valuetext') === 'not_seen') {
                    return elem.attr('id');
                }
            }
        }

   seen_message_socket.onopen = function (e) {
        console.log('SEEN MESSAGE CONSUMER CONNECTED')
        msgdiv.scrollTop(pagPosition - 100);
        $(document).ready(function(){
        var a = []
        $("#messages-list").scroll(function(){
           var result= '';
           $.each( $("#messages-list .msg_cotainer"),function(i,e){
                result = checkInView($(e), true);
                if (result !== undefined && !a.includes(result) ) {
                    a.push(result)
                    seen_message_socket.send(JSON.stringify({
                        'msg_id': result,
                        'slug': sender,
                        'user': sender,
                        'category': 'r',
                        'position': msgdiv.prop("scrollHeight")
                    }))
                }
            });
        });
    });
   }

    seen_message_socket.onmessage = function (e) {
        online_status.send(JSON.stringify({
            'username': loggedin_user,
            'type': 'open'
        }))
        const data = JSON.parse(e.data)
        const msgSeenCheck = document.getElementById(`${data.msg_id}_not_seen`)
        msgSeenCheck.innerHTML = `<div class="seen-msg">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M11.602 13.7599L13.014 15.1719L21.4795 6.7063L22.8938 8.12051L13.014 18.0003L6.65 11.6363L8.06421 10.2221L10.189 12.3469L11.6025 13.7594L11.602 13.7599ZM11.6037 10.9322L16.5563 5.97949L17.9666 7.38977L13.014 12.3424L11.6037 10.9322ZM8.77698 16.5873L7.36396 18.0003L1 11.6363L2.41421 10.2221L3.82723 11.6352L3.82604 11.6363L8.77698 16.5873Z" fill="rgba(255,255,255,1)"></path></svg>
                                  </div>`
    }


</script>
{% endblock %}

